@page "/categorias/criar"
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject ILogger<Categoria> Logger
@attribute [Authorize]


<div class="container-sm">
    <h3 class="text-info text-center">Nova Categoria</h3>

    <EditForm Model="@Categoria" OnValidSubmit="@OnValidSubmitAsync">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <fieldset>
            <div class="form-group ">
                <label class="col-form-label mt-4 text-light" for="inputNome">Nome da Categoria</label>
                <InputText @bind-Value="Categoria.Nome" class="form-control" placeholder="Título da categoria" id="inputNome" />
                <ValidationMessage For="@(() => Categoria.Nome)"></ValidationMessage>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Criar</button>
                <a href="/categorias" class="btn btn-warning">Cancelar</a>
            </div>
        </fieldset>
    </EditForm>

</div>

@code {
    [Inject]
    public ICategoriaRepository? CategoriaRepository { get; set; }

    public Categoria Categoria { get; set; } = new();

    protected async Task OnValidSubmitAsync()
    {
        try
        {
            await CategoriaRepository.AdicionarCategoria(Categoria);
            Navigation.NavigateTo("categorias");
        }
        catch (Exception)
        {
            Logger.LogInformation("Falha interna do servidor");
            throw;
        }

    }
}
