@page "/categorias/{id:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation

@if (Categoria is null)
{
    <h3 class="text-info">Categoria não encontrada!</h3>
}
else
{
    <div class="container-sm">
        <h3 class="text-info text-center">Detalhes da Categoria</h3>

        <EditForm Model="@Categoria">
            <fieldset>
                <div class="form-group ">
                    <label class="col-form-label mt-4 text-light" for="inputNome">Nome da Categoria</label>
                    <InputText @bind-Value="Categoria.Nome" class="form-control" placeholder="nome da categoria" id="inputNome" disabled="" />
                    <ValidationMessage For="@(() => Categoria.Nome)"></ValidationMessage>
                </div>

                <div class="form-group mt-3">
                    <a href="/categorias" class="btn btn-warning">Voltar</a>
                </div>
            </fieldset>
        </EditForm>

    </div>
}


@code {
    [Inject]
    public ICategoriaRepository? CategoriaRepository { get; set; }

    [Parameter]
    public int Id { get; set; }

    public Categoria? Categoria { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Categoria = await CategoriaRepository.ObterCategoriaPorId(Id);
    }
}
